{% extends 'base.html.twig' %}

{% block title %}Modifier un programme{% endblock %}

{% block content %}
    <h1>Modifier un programme</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
