{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block content %}
    <h1 class="mb-2">Ajouter un nouveau programme</h1>

    {{ include('program/_form.html.twig') }}

{% endblock %}
