<form method="post" action="{{ path('app_admin_program_delete', {'id': program.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément
?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <button class=" btn bg-red-500 text-white py-2 px-4 rounded-lg hover:bg-red-600 transition-colors duration-300">Supprimer</button>
</form>
