{% extends 'base.html.twig' %}

{% block title %}Nouveau Programme{% endblock %}

{% block content %}
    <h1 class="mb-2">Ajouter un nouveau programme</h1>

    {{ include('admin/form/program/_form.html.twig') }}

{% endblock %}
