{% extends 'base.html.twig' %}

{% block title %}Modifier la  Session{% endblock %}

{% block content %}
    <h1 class="mb-2">Modifier une session</h1>

    {{ include('admin/form/session/_form.html.twig') }}

{% endblock %}
