{% extends 'base.html.twig' %}

{% block title %}Modifier ma Séance{% endblock %}

{% block content %}
    <h1>Modifier ma Séance</h1>

    {{ include('session_history/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
