{% extends 'base.html.twig' %}

{% block title %}Edit SessionHistory{% endblock %}

{% block content %}
    <h1>Edit SessionHistory</h1>

    {{ include('session_history/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_session_history_index') }}">back to list</a>

    {{ include('session_history/_delete_form.html.twig') }}
{% endblock %}
