{% extends 'base.html.twig' %}

{% block title %}Edit SessionHistory{% endblock %}

{% block content %}
    <h1>Edit SessionHistory</h1>

    {{ include('session_history/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
