{% extends 'base.html.twig' %}

{% block title %}Modifier un coach{% endblock %}

{% block content %}
    <h1>Modifier un coach</h1>

    {{ include('admin/form/coach/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
