{% extends 'base.html.twig' %}

{% block title %}Nouveau Coach{% endblock %}

{% block content %}
    <h1 class="mb-2">Ajouter un nouveau coach</h1>

    {{ include('admin/form/coach/_form.html.twig') }}

{% endblock %}
